<div class="login-page">
	<div class="row">
		<div class="col-lg-4 offset-lg-4">
			<h1>Welcome!</h1>
			<form role="form">
				<div class="form-content">
					<div class="form-group">
						<input type="text" 
									class="form-control input-underline input-lg" 
									[(ngModel)]="model.userid"
									name="userid"
									required
									placeholder="사용자ID">
					</div>

					<div class="form-group">
						<input type="password" 
									class="form-control input-underline input-lg" 
									[(ngModel)]="model.password"
									name="password"
									required
									placeholder="비밀번호">
					</div>
				</div>
				<a class="btn rounded-btn" routerLink="/dashboard/home"> Log in </a>				
				<!--
				&nbsp;
				<a class="btn rounded-btn" routerLink="/signup" type="submit">Register</a>
				-->
			</form>
		</div>	
	</div>
</div>
{{model}}